<div class="col-md-12">

   <div class="col-md-10">
      <div class="col-md-offset-1">
         <ul data-ng-class="{breadcrumb: parents.length > 0}" data-ng-cloak>
            <li data-ng-repeat="level in parents">
               <a data-ng-click="get(level)">{{level.meta.$type()}}</a>
            </li>
         </ul>
         <div id="resource" data-ng-include="template"></div>
      </div>
   </div>

   <div id="sidebar" class="pull-right">
      <div id="action-links">
         <ul data-ng-repeat="link in actionLinks">
            <li data-ng-show="link.canCreate()">
               <button class="btn btn-success" data-ng-click="create(link)">Add {{link.meta.rel}}</button>
            </li>
         </ul>
      </div>
      <div id="user-action-links">
         <ul data-ng-repeat="link in userActionLinks">
            <li data-ng-show="link.canCreate()">
               <button class="btn btn-primary" data-ng-click="addUserTo(link)">{{link.meta.rel}}</button>
            </li>
         </ul>
      </div>
   </div>
</div>